@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.rotate-animated {
  animation: rotate 1s ease 0s infinite;
}

.brightness {
  /* box-shadow: 0px 0px 28px 0px rgba(87, 18, 223, .75); */
  animation: brightnessAnimation 1000ms linear infinite;
}

.red-light-ball-active {
  opacity: 100%;
  background-color: red;
  box-shadow: 
      0 0 20px red,
      0 0 40px red,
      0 0 80px red,
      0 0 120px red;
}

.yellow-light-ball-active {
  opacity: 100%;
  background-color: yellow;
  box-shadow: 
      0 0 20px yellow,
      0 0 40px yellow,
      0 0 80px yellow,
      0 0 120px yellow;
}

.green-light-ball-active {
  opacity: 100%;
  background-color: rgb(0, 182, 0);
  margin-bottom: 0;
  box-shadow: 
      0 0 20px rgb(0, 182, 0),
      0 0 40px rgb(0, 182, 0),
      0 0 80px rgb(0, 182, 0),
      0 0 120px rgb(0, 182, 0);
}

.simpli-summary{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 0;
  margin: 0;
  line-height: 1.5rem;
  list-style: none;
}

.simpli-summary h3{
  font-size: 1rem;
  margin: 0;
}

.simpli-summary p{
  font-size: .8rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes brightnessAnimation {
  0% {
    box-shadow: 0px 0px 15px 1px rgba(87, 18, 223, .60);
  }
  50% {
     box-shadow: 0px 0px 30px 6px rgba(87, 18, 223, .60);
  }
  100% {
     box-shadow: 0px 0px 15px 1px rgba(87, 18, 223, .60);
  }
}